.fontTest {
  text-align: center;
  font-family: "dahyeon";
}
.fontTest2 {
  text-align: center;
  font-family: "ryuryu";
}

.wedding-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wedding-wrapper {
  max-width: 960px;
  width: 100%;
}

img.main-photo {
  width: 100%;
  margin-bottom: 10rem;
}
.wedding-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.wedding-top img.sentence,
.wedding-top img.child {
  width: max-content;
}
.wedding-calendar {
  text-align: center;
}
.calendar-label {
  width: 70%;
  margin-bottom: -1rem;
}
.wedding-calendar img:nth-child(2) {
  width: max-content;
}

.wedding-gallery {
  margin-block: 10rem;
  text-align: center;
}
.wedding-gallery .gallery-label {
  width: 50%;
}
.wedding-gallery .gallery {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wedding-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.wedding-location .kakao-map {
  max-width: 960px;
  width: 100%;
  height: 500px;
}
.wedding-location,
.wedding-timeline,
.wedding-account {
  text-align: center;
}
.wedding-location .location-label {
  width: 70%;
  margin-bottom: 1rem;
}

.wedding-timeline .timeline-label {
  width: 70%;
}
.wedding-account .account-label {
  width: 70%;
}

@media screen and (max-width: 768px) {
  img.main-photo {
    margin-bottom: 5rem;
  }
  .wedding-top {
    gap: 5rem;
    padding-inline: 1rem;
  }
  .wedding-top img.sentence {
    width: 75%;
  }
  .wedding-top img.child {
    width: 100%;
  }
  .calendar-label {
    width: 90%;
  }
  .wedding-calendar img:nth-child(2) {
    width: 100%;
  }

  .wedding-gallery {
    margin-block: 5rem;
  }
  .wedding-gallery .gallery-label {
    width: 60%;
  }

  .wedding-bottom {
    gap: 5rem;
  }
  .wedding-location .kakao-map {
    height: 300px;
  }
  .wedding-location .location-label {
    width: 75%;
  }

  .wedding-timeline .timeline-label {
    width: 50%;
  }
  .wedding-account .account-label {
    width: 55%;
  }
}
